.wd-listbuttons-check-icon {
    margin-right: 10px;
  }
  
  .wd-listbuttons-plus-icon {
    color: white;
    margin-right: 10px;
  }
  
  .wd-listbuttons-module-button {
    background-color: #d41b2c;
    color: white;
  }
  